{% block element_tabs %}
    {% set config = element.config %}

    <div class="cms-element-{{ element.type }}{% if config.isOffcanvasOnMobile.value %} is-offcanvas-mobile{% endif %}">
        {% block element_tabs_inner %}
            <div class="card card-tabs">
                {% block element_tabs_header %}
                    <div class="card-header">
                        <ul class="nav nav-tabs" 
                            id="{{element.id}}-tabs" 
                            role="tablist"
                        >
                            {% block element_tabs_header_items %}
                                {% for tab in config.fields.value %}
                                    <li class="nav-item">
                                        <a class="nav-link{% if loop.index == 1 %} active{% endif %}" 
                                            id="{{loop.index}}{{element.id}}-tab" 
                                            data-toggle="tab"
                                            {% if config.isOffcanvasOnMobile.value %}data-offcanvas-tabs="true"{% endif %}
                                            href="#tab-panel-{{loop.index}}{{element.id}}" 
                                            role="tab" 
                                            aria-controls="tab-panel-{{loop.index}}{{element.id}}" 
                                            aria-selected="true"
                                        >
                                            {{ tab.value.header }}

                                            {% if config.isOffcanvasOnMobile.value %}
                                                {% sw_icon 'arrow-medium-right' style {'pack':'solid'} %}

                                                {% if config.showShortPreview.value and tab.value.content|length > 0 %}
                                                    <span class="tab-preview">
                                                        {{ tab.value.content|raw|striptags|sw_sanitize|u.truncate(125, '…') }}
                                                    </span>
                                                {% endif %}
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endblock %}
                        </ul>
                    </div>
                {% endblock %}

                {% block element_tabs_body %}
                    <div class="{{element.id}}-tabs-content tab-contents">
                        <div class="tab-content card-body">
                            {% block element_tabs_body_contents %}
                                {% for tab in config.fields.value %}
                                    <div class="tab-pane fade show{% if loop.index == 1 %} active{% endif %}" 
                                        id="tab-panel-{{loop.index}}{{element.id}}" 
                                        role="tabpanel" 
                                        aria-labelledby="{{loop.index}}{{element.id}}-tab"
                                    >
                                        <div class="tab-pane-container">
                                            {% if config.isOffcanvasOnMobile.value %}
                                                <button class="btn btn-light btn-block offcanvas-close js-offcanvas-close sticky-top">
                                                    {% sw_icon 'x' style { 'size': 'sm' } %}
                                                    {{ "general.offcanvasCloseMenu"|trans|sw_sanitize }}
                                                </button>
                                                
                                                <div class="offcanvas-content-container">
                                            {% endif %}
                                            
                                                {{ tab.value.content|raw }}

                                            {% if config.isOffcanvasOnMobile.value %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
